<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add New Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form th:action="@{/addbook}" th:object="${book}" method="post">
        <input type="hidden" id="id" th:field="${book.id}" readonly>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" th:field="${book.title}" required>
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" th:field="${book.author}" required>
        </div>
        <div>
            <label for="year">Year:</label>
            <input type="number" id="year" th:field="${book.year}" required max="3000" step="1">
        </div>
        <div>
            <label for="category">Category</label>
            <select id="category" th:field="${book.category}" class="form-control" required>
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div>
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" th:field="${book.isbn}" required>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" th:field="${book.price}" required min="0" step="1" >
        </div>
        <div>
            <button type="submit">Add Book</button>
        </div>
    </form>
</body>
</html>