<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Book List</title>
</head>
<body>
    <header>
        <div class="user-info">
            <span th:text="'You are loged in as \'' + ${username} + '\''">Username</span>
            <a href="/login?logout" class="button">Logout</a>
        </div>
    </header>
    <h1>Book List</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th class="action-cell">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}">Book Title</td>
                    <td th:text="${book.author}">Author Name</td>
                    <td th:text="${book.category.name}">Category</td>
                    <td th:text="${book.year}">0000</td>
                    <td th:text="${book.isbn}">1234567-89</td>
                    <td class="action-cell">
                        <a th:href="@{/deletebook/{id}(id=${book.id})}" class="delete-button">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a th:href="@{/editbook/{id}(id=${book.id})}" class="edit-button">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/addbook" class="button">Add New Book</a>
    </div>
</body>
</html>
